.wrap-contains {
  padding: 10px;
}
.content-layout {
  padding: 5px;
}

.content-layout h2 {
  margin: 1rem;
  margin-bottom: 0;
}

.card {
  border:0;
  box-shadow: none;
  margin: 10px;
}
.card:hover {
  border:0;
  box-shadow: none;
}
.song-list {
  margin: 15px;
  margin-bottom: 5px;
  width: calc( 100%/5 - 2*18px);
  float: left;
}
.card-row {
  width: 100%;
  height: 100%;
}
.card-row::before ,.card-row::after {
  display: table;
  content: '';
  clear: both;
}

.card-image {
  position: relative;
  margin-bottom: .625rem;
  box-shadow: 5px 8px 30px #cccccc;
}

.card-image::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 15%;
  left: 100%;
  width: 35px;
  height: 120px;
  background: url(./album.png) no-repeat;
  background-position: 0px -73px;
}

.card-body h3 {
  color: #212225;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  margin: 0;
}
.card-body p {
  color: #6e727d;
  margin: 0;
  font-size: .5rem;
}

.detailAblum-content {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #222326;
}
.detailAblum-img {
  width: 33.3%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.detailAblum-img img{
  width: 200px;
  height: 200px;
}
.detailAblum-songlist {
  display: flex;
  width: 100%;
  flex: 1;
  flex-wrap: wrap;
  flex-direction:column;
  padding: 60px 0;
}

.detailAblum-songlist .songlist-title h2,
.detailAblum-songlist .songlist-title,
.detailAblum-songlist .song-control {
  color: #fff;
}

.detailAblum-songlist .song-control {
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.detailAblum-songlist .songlist-title p {
  margin: 0;
}

.save-btn {
  width: 90px;
  padding: 6px 18px;
  margin: 0 15px;
  background: #4fb6f2;
  border-radius: 15px;
  border:0;
  outline: 0;
}

.songlist {
  padding: 10px 0;
}

.songlist a {
  color: #dadada;
}

.songlist li {
  padding: 10px 0;
  position: relative;
}

.songlist li::before {
  content: "";
  position: absolute;
  width: 90%;
  bottom: 0;
  left: 0;
  border: 1px solid #2e2f2f;
}

.songlist span {
  padding:0 20px 0 0;
}