.wrap-contains {
  box-sizing: border-box;
  padding: 10px;
}
.content-layout {
  padding: 5px;
}
.contains-body {
  margin-bottom: 80px;
}

.content-layout h2 {
  margin: 1rem;
}

.card {
  border:0;
  box-shadow: none;
  margin: 10px;
}
.card:hover {
  border:0;
  box-shadow: none;
}
.ablum-list {
  margin: 15px;
  margin-bottom: 5px;
  width: calc( 100%/5 - 2*18px);
  float: left;
}
.card-row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.card-row::before ,.card-row::after {
  display: table;
  content: "";
  clear: both;
}

.more {
  float: right;
  font-size: 12px;
  padding-right: 30px;
  color: #5c5c5c;
}
.more:hover {
  color: #000;
}

.card-image {
  position: relative;
  margin-bottom: .625rem;
  box-shadow: 5px 8px 30px #cccccc;
}

.card-body h3 {
  color: #5c5c5c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  margin: 0;
}
.card-body p {
  color: #5c5c5c;
  margin: 0;
  font-size: .5rem;
}

.play-list {
  margin-bottom: 5px;
  width:  calc( 100%/7 - 5px);
  float: left;
}

.recommend {
  position: relative;
}
.recommend .card-image {
  position: relative;
  box-shadow: none;
}

.card-image > .show {
  width: 100%;
  height: auto;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: .5rem;
  text-align: center;
  background: rgba(0,0,0,.5);
  padding: .25rem;
  opacity: 0;
}
.card-image:hover > .show {
  opacity: 1;
}

.image::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  bottom: .25rem;
  right: .25rem;
  background: url(../../commpon/play-list-02.png);
  background-size:cover;
}

.card-image:hover::after {
  background: url(../../commpon/play-list-02-hover.png);
  background-size:cover;
}

.newsong {
  width: 100%;
  height: 100%;
}

.newsong-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  border:1px solid #cccccc;
}

.newsong-image {
  height: 4.125rem;
  width: 4.125rem;
}

.newsong-image::before {
  content: "";
  position: absolute;
  height: 4.125rem;
  width: 4.125rem;
  background-color: rgba(0,0,0,.5);
  transition: all .3s;
  opacity: 0;
}

.newsong-image:hover::before {
  opacity: 1;
  background-image:url(../../commpon/playlist-no-pixel.png) ;
  background-size:cover;
  visibility: visible;
}

.song-number {
  height: 4.125rem;
  line-height: 4.125rem;
  width: 4.125rem;
  text-align: center;
  display: inline-block;
  color: #99a5c0;
}

.newsong-list {
  width: 50%;
  height: 4.75rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.newsong-list:nth-of-type(odd) {
  background-color: #fafafa;
}
.newsong-list:nth-of-type(even) {
  background-color: #f5f5f7;
}

.newsong-list:hover {
  background: #f4efef;
}

.newsong-body {
  height: 4.125rem;
  padding-left: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.newsong-text {
  height: 4.125rem;
}

.newsong-text p {
  margin: 0;
  color: #464646;
  font-size: 14px;
  text-align: left;
  padding-left: 20px;
}

.newsong-text .artists {
  font-size:12px;
  color: #818181;
}

.new-list {
  width:  calc( 100%/5 - 20px);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.exclusive {
  width: 100%;
}

.exclusive .exclusive-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
}

.exclusive-list {
  width:  calc( 100%/3 - 100px);
  margin: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.exclusive-list .exclusive-img {
  box-sizing: border-box;
}

.exclusive-text {
  font-size: 0.875rem;
  color: #464646;
}