.slider {
  width: 90%;
  height: 15rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.slider-body {
  width: 48.5rem;
  height: 15rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.slider-body li{
	position: absolute;
	top: 0;
	left: 0;
	list-style: none;
	/* opacity: 0; */
	transition: all 0.3s ease-out;
}

.slider-body img {
	width: 34rem;
	height: 13rem;
	border:none;
	float: left;
}

.img1{
  transform: translate3d(-243px,0,0) scale(0.81);
  opacity: 0;
}
.img2{
	transform: translate3d(0px,0,0) scale(0.81);
	transform-origin: 0 50%;
	opacity: 0.8;
	z-index: 2;
}
.img3{
	transform:translate3d(243px,0,0) scale(1);
	z-index: 3;
	opacity: 1;
}
.img4{
	transform:translate3d(486px,0,0) scale(0.81);
	transform-origin:100% 50%;
	opacity: 0.8;
	z-index: 2;
}
.img5{
  transform:translate3d(729px,0,0) scale(0.81);
  opacity: 0;
}
.img6{
  transform:translate3d(972px,0,0) scale(0.81);
}



.dots {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 0;
  left: auto;
  text-align: center;
}

.dots .dot {
  position: relative;
  float: left;
  width: 1.5rem;
  height: 0.125rem;
  margin: 0.33rem;
}

.dot a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    background-color: #ccc;
    transition: background-color 0.3s ease;
}

.dot a :focus {
  outline: none;
}

.dot a :hover {
  background-color: #fff;
}

.dot a :active {
  box-shadow: inset 0 0 0 5px #fff;
}

.btn {
  z-index: 2;
  position: absolute;
	top: auto;
	width: 60px;
	height: 100px;
	line-height: 100px;
	font-size: 30px;
	color: white;
	text-decoration: none;
	text-align: center;
	background: #ccc;
	cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
