.wrap-body .siderbar {
  position: relative;
  background: #f0f0f0;
  border-right: 1px solid #e5e5e5;
  padding: 40px 20px;
  min-height: 612px;
  height: 100%;
}

.sider-item h3 {
  color: #5c5c5c;
  font-size: 0.8rem;
}

.sider-item li {
  height: 40px;
  line-height: 40px;
}

.sider-item li a {
  color: #5c5c5c;
  text-decoration: none;
}

.sider-item li i {
  padding-right: 10px;
}

.person-login {
  display: inline-flex;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}
.person-login .login {
  padding: 10px;
  color: #5c5c5c;
  font-size: .5rem;
}

@media screen and (min-width:1200px) {
  .wrap-body .siderbar {
    min-height: 898px;
  }
}