.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar {
  width:90%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #e5e5e5;
}
.nav-bar li {
  padding: 0 1.25rem;
}
.nav-bar li a {
  color: #5c5c5c;
  font-size: 1rem;
  text-decoration: none;
}